job-tracker/n8n/workflows/test-webhook.json
{
  "name": "Test Job Extraction Webhook",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "extract-job",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-start",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [240, 300],
      "webhookId": "test-job-extraction"
    },
    {
      "parameters": {
        "jsCode": "// Simple test response\nconst inputUrl = $input.first().json.url || 'https://example.com';\n\nconst testJobData = {\n  title: 'Software Developer',\n  company: 'Test Company',\n  location: 'Seoul, Korea',\n  salary: '$50,000 - $70,000',\n  employmentType: 'full-time',\n  remotePolicy: 'hybrid',\n  description: 'Test job description extracted from: ' + inputUrl,\n  url: inputUrl,\n  extractedAt: new Date().toISOString(),\n  source: 'n8n-test-extraction'\n};\n\nreturn {\n  success: true,\n  data: testJobData,\n  error: null,\n  message: 'Test extraction successful'\n};"
      },
      "id": "test-code",
      "name": "Test Code",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [460, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $json }}"
      },
      "id": "webhook-response",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [680, 300]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Test Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Test Code": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  }
}